doctype 5
html
  head
    title Request Header Parser
    link(rel='stylesheet', href='style.css')
    link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
  body
    div
      p Your operating system is #{os}
      p Your browser is #{browser}
      p Your browser's language is #{language}
      p Your IP address is #{ip}